@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* .blurMe > *:not(#alert-container) {
  filter: blur(3px);
} */

.cards {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.img {
  height: auto;
  width: 100%;
  margin: 0;
}

.foodInfoContainer {
  width: 85%;
  background: rgba(204, 204, 204, 0.6);
  position: absolute;
  right: 0px;
  z-index: 100;
  color: black;
  padding: 5px;
  margin-top: -150px;
  font-family: Lobster;
}

.text {
  margin: 0px;
  padding: 5px;
  font-weight: 100;
  font-size: 18px;
  text-align: end;
}

.nameButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nameButton h2 {
  font-weight: 100;
  margin: 0;
  font-size: 24px;
}

.button {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid black;
}
